<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Hotsite</title>
</head>
<body>
    <header>
        <nav>
           <h1>Hotsite</h1>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Hotsite
        </div>
    </footer>

    @RenderSection("Scripts", required: false)
</body>
</html>
