@model Interesse
@{
    ViewData["Title"] = "Hotsite";
}
<div class="container">
    <div class="row">
        <div class="col-md-6 text-content">
            <h1>Iniciativa Saúde da Cidade</h1>
            <p>
                Texto sobre vida saudável: Lorem ipsum dolor sit amet et delectus accommodare his consul copiosae
                legendos at
                vix ad putent delectus delicata usu. Vidit dissentiet eos cu eum an brute copiosae hendrerit.
            </p>
            <p>
                Texto sobre vida iniciativa: Lorem ipsum dolor sit amet et delectus accommodare his consul copiosae
                legendos at
                vix ad putent delectus delicata usu. Vidit dissentiet eos cu eum an brute copiosae hendrerit.
            </p>
        </div>
        <div class="col-md-6">
            <img class="img-fluid" src="~/img/fitness.png" alt="pessoa se exercitando" />
        </div>

    </div>
    <div class="row contato">
        <div class="col-md-6">
            <h2>Entre em contato!:</h2>
            <p>Nos mande uma mensagem e fique por dentro de nossos eventos</p>
            <div class="form jumbotron p-3">
                <form action="/Home/Cadastrar" method="POST">
                    <div class="form-group">
                        <label asp-for="Nome">Nome:</label>
                        <input class="form-control" asp-for="Nome" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Email">Email:</label>
                        <input class="form-control" asp-for="Email" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Mensagem">Mensagem (opcional):</label>
                        <textarea class="form-control" asp-for="Mensagem"></textarea>
                    </div>
                    <div>
                        <input class="btn btn-primary" type="submit" value="Enviar" />
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-6 modal-links">
            <a href="#">Agenda de eventos</a>
            <a href="#">Dicas de vida saudável</a>
            <a href="#">Apoiadores</a>
        </div>
    </div>
</div>
