@using Hotsite.Models
@model Interesse

@{
    ViewData["Title"] = "Hotsite";
}

<div class="container">
    <div class="row">
        <div class="col-md-6 text-content">
            <h1>Iniciativa Saúde da Cidade</h1>
            <p>
                Texto sobre vida saudável: Lorem ipsum dolor sit amet et delectus accommodare his consul copiosae
                legendos at
                vix ad putent delectus delicata usu. Vidit dissentiet eos cu eum an brute copiosae hendrerit.
            </p>
            <p>
                Texto sobre vida iniciativa: Lorem ipsum dolor sit amet et delectus accommodare his consul copiosae
                legendos at
                vix ad putent delectus delicata usu. Vidit dissentiet eos cu eum an brute copiosae hendrerit.
            </p>

            @* Formulário de Cadastro Newsletter *@
            <div class="form jumbotron p-4">

                <form id="frmCadastro" method="POST">
                    <h2>Fique em contato!</h2>
                    <p>Nos mande uma mensagem e fique por dentro de nossos eventos</p>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" asp-for="Nome">Nome:</label>
                        <div class="col-sm-10">
                            <input id="nome" class="form-control" asp-for="Nome" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" asp-for="Email">Email:</label>
                        <div class="col-sm-10">
                            <input id="email" class="form-control" asp-for="Email" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" asp-for="Mensagem">Mensagem (opcional):</label>
                        <div class="col-sm-10">
                            <textarea id="mensagem" class="form-control" asp-for="Mensagem"></textarea>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end">
                        <input id="enviar" class="btn btn-primary" type="submit" value="Enviar" />
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-6">

            <div class="row">
                <img class="img-fluid" src="~/img/fitness.png" alt="pessoa se exercitando" />
            </div>

            @* Links dos Modais *@
            <div class="row">
                <div class="modal-links">
                    <a data-toggle="modal" data-target="#agenda" href="#">
                        <img class="img-fluid" src="~/img/agenda.png" alt="Calendario">
                        <p>Agenda de eventos</p>
                    </a>
                    <a data-toggle="modal" data-target="#dicas" href="#">
                        <img class="img-fluid" src="~/img/tips.png" alt="Calendario">
                        <p>Dicas de vida saudável</p>
                    </a>
                    <a data-toggle="modal" data-target="#parceiros" href="#">
                        <img class="img-fluid" src="~/img/partners.png" alt="Calendario">
                        <p>Parceiros</p>
                    </a>
                </div>
            </div>

            @* Modal View *@
            <div class="modal fade" id="agenda" tabindex="-1" role="dialog" aria-labelledby="agendaLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title" id="agendaLabel">Agenda</h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="eventName">
                                <h5>30/04/2022 - Evento 1</h5>
                            </div>
                            <div class="description">
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. A natus eligendi sapiente
                                    doloribus. Soluta vitae eaque expedita accusantium facere molestiae, saepe ad
                                    corporis
                                    sint. Ea nobis officia laudantium temporibus dolore!
                                </p>
                            </div>
                            <div class="eventName">
                                <h5>30/04/2022 - Evento 2</h5>
                            </div>
                            <div class="description">
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. A natus eligendi sapiente
                                    doloribus. Soluta vitae eaque expedita accusantium facere molestiae, saepe ad
                                    corporis
                                    sint. Ea nobis officia laudantium temporibus dolore!
                                </p>
                            </div>
                            <div class="eventName">
                                <h5>30/04/2022 - Evento 3</h5>
                            </div>
                            <div class="description">
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. A natus eligendi sapiente
                                    doloribus. Soluta vitae eaque expedita accusantium facere molestiae, saepe ad
                                    corporis
                                    sint. Ea nobis officia laudantium temporibus dolore!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="dicas" tabindex="-1" role="dialog" aria-labelledby="dicasLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="dicasLabel">Dicas de Vida Saudável</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="description">
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. A natus eligendi sapiente
                                    doloribus. Soluta vitae eaque expedita accusantium facere molestiae, saepe ad
                                    corporis
                                    sint. Ea nobis officia laudantium temporibus dolore!
                                </p>
                            </div>
                            <div class="description">
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. A natus eligendi sapiente
                                    doloribus. Soluta vitae eaque expedita accusantium facere molestiae, saepe ad
                                    corporis
                                    sint. Ea nobis officia laudantium temporibus dolore!
                                </p>
                            </div>
                            <div class="description">
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. A natus eligendi sapiente
                                    doloribus. Soluta vitae eaque expedita accusantium facere molestiae, saepe ad
                                    corporis
                                    sint. Ea nobis officia laudantium temporibus dolore!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="parceiros" tabindex="-1" role="dialog" aria-labelledby="parceirosLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="agendaLabel">Paceiros</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body ml-4">
                            <div class="row align-items-center">
                                <div class="col-md-3 w-25">
                                    <img class="companyLogo" src="~/img/partners.png" alt="company logo">
                                </div>
                                <div class="col">
                                    <h5>Empresa 1</h5>
                                    <small>descrição</small>
                                </div>
                            </div>
                            <div class="row align-items-center">
                                <div class="col-md-3 w-25">
                                    <img class="companyLogo" src="~/img/partners.png" alt="company logo">
                                </div>
                                <div class="col">
                                    <h5>Empresa 2</h5>
                                    <small>descrição</small>
                                </div>
                            </div>
                            <div class="row align-items-center">
                                <div class="col-md-3 w-25">
                                    <img class="companyLogo" src="~/img/partners.png" alt="company logo">
                                </div>
                                <div class="col">
                                    <h5>Empresa 3</h5>
                                    <small>descrição</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>